$custom-colors: (
  $light: $gray-light,
  $dark: $gray-dark,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$additional-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  md-lg: 1024px,
  xl: 1200px,
  xxl: 1400px,
);
$grid-breakpoints: $additional-grid-breakpoints;

// NAVBAR

$navbar-dark-color: $body-color;
$navbar-light-hover-color: $white;

// DROPDOWNS

$dropdown-bg: rgba($gray-medium, 0.9);
$dropdown-spacer: 0.5rem;
$dropdown-header-color: theme-color-level("light", -1);
$dropdown-border-width: 0;
$dropdown-link-color: $body-color;
$dropdown-link-active-bg: $gray-dark;
$dropdown-link-active-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $gray-deep;
$dropdown-divider-bg: $white;
$dropdown-item-padding-y: 0.5rem;

// INPUTS

$input-bg: $gray-deep;
$input-focus-bg: $gray-deep;
$input-focus-border-color: $gray-dark;
$input-border-color: $gray-dark;
$input-color: $body-color;
$input-focus-color: $body-color;

$input-group-addon-bg: $gray-deep;
$input-group-addon-border-color: $gray-dark;
$input-group-addon-color: $body-color;

$close-color: $body-color;

// MODALS

$modal-header-border-color: theme-color-level(dark, -1);
$modal-footer-border-color: $modal-header-border-color;
$modal-content-bg: $gray-deep;
$modal-backdrop-opacity: 0.8;
$zindex-modal-backdrop: 2000;
$zindex-modal: 2010;